<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="../styles/createAccount.css" type="text/css" />
  </head>
  <body>
    <header class="header">
      <img class="header-image" src="../assets/icons/logo.svg" />
      <h2 class="company-name">Agência Batatinha</h2>
    </header>
    <div class="form-container columns">
      <div class="form section shaded-sections">
        <div class="form-content">
          <div class="form-part-1">
            <h1 class="form-title">Cadastre-se com email e senha</h1>
            <form>
              <input
                type="email"
                placeholder="Email"
                class="button-and-inputs inputs"
              />
              <!-- talvez seja melhor colocar o campo do tipo text para evitar checagens padrão do navegador-->
              <br />
              <input
                type="password"
                placeholder="Senha"
                class="button-and-inputs inputs"
              />
              <input
              type="password"
              placeholder="Confirmar Senha"
              class="button-and-inputs inputs"
            />
              <p class="form-message">Todos os campos são obrigatórios</p>
              <button href="" type="submit" class="button-and-inputs btn">
                Registro
              </button>
            </form>
          </div>
          <div class="form-part-2">
            <hr class="horizontal-rule" />
          </div>
          <div class="form-part-3">
            <p class="final-text">
              Já possui uma conta? <a href="../index.html" class="link">Conecte-se</a>
            </p>
            <!-- Esse link que existe em criar tem que levar para a página de cadastro -->
          </div>
        </div>
        <!--  </div>ver se esse fechemnto é necessario -->
      </div>
    </div>
    <div class="line columns">
      <div class="section vertical-line"></div>
    </div>
    <div class="image-container columns">
      <div class="section shaded-sections img-filled">
        <!-- Essa div image-container tem que ter a imagem como plano de fundo -->
        <p class="image-text">Bem-vindo à agência Batatinha</p>
      </div>
    </div>
  </body>
</html>
