<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />
  </head>
  <body>
    <header class="header">
      <img class="header-image" src="../assets/icons/logo.svg" />
      <h2 class="company-name">Agência Batatinha</h2>
    </header>
    <section class="banner">
      <div class="banner-text">
        <h1>Encontre as melhores casas, pontos comerciais e hotéis</h1>
      </div>
    </section>

    <!-- OUR SERVICES -->
    <section class="our-services">
      <h2>Nossos Serviços</h2>
      <div class="our-services-options">
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-residenciais.png"
            alt="Residenciais"
          />
          <h3>Residenciais</h3>
          <p>123 ofertas</p>
        </div>
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-comerciais.png"
            alt="Comerciais"
          />
          <h3>Comerciais</h3>
          <p>93 ofertas</p>
        </div>
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-hoteis.png"
            alt="Hotéis"
          />
          <h3>Hotéis</h3>
          <p>23 ofertas</p>
        </div>
      </div>
    </section>

    <!-- FINAL -->

    <!-- BEST OPPORTUNITIES -->
    <section class="best-oportunities">
      <h2>Melhores Oportunidades</h2>
      <div class="best-oportunities-options" style="background-color: yellow">
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option1.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <div class="bedrooms-and-bathrooms">
            <p>5 quartos</p>
            <p>4 banheiros</p>
          </div>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option2.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option3.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option4.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
      </div>
      <div class="best-oportunities-options" style="background-color: pink">
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option5.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option6.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option7.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option8.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
      </div>
    </section>

    <!-- FINAL -->

    <footer class="footer">
      
    </footer>
  </body>
</html>
