<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />
  </head>
  <body id="body">
    <header id="header" class="header">
      <div class="left-header-div">
        <img class="header-image" src="../assets/icons/logo.svg" />
        <h2 class="company-name">Agência Batatinha</h2>
      </div>
      <div class="right-header-div">
        <a href="#contact" id="contact-link">Contato</a>
        <a href="../index.html" id="exit-button">Sair</a>
      </div>
    </header>

    <section class="banner">
      <div class="banner-text">
        <h1 id="teste">Encontre as melhores casas,<br />pontos comerciais e hotéis</h1>
      </div>
    </section>

    <section class="our-services">
      <h2 class="session-title">Nossos Serviços</h2>
      <div class="our-services-options">
        <a href="notFound.html">
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-residenciais.png"
            alt="Residenciais"
          />
          <h3>Residenciais</h3>
          <p>123 ofertas</p>
        </div>
      </a>
      <a href="notFound.html">
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-comerciais.png"
            alt="Comerciais"
          />
          <h3>Comerciais</h3>
          <p>93 ofertas</p>
        </div>
      </a>
      <a href="notFound.html">
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-hoteis.png"
            alt="Hotéis"
          />
          <h3>Hotéis</h3>
          <p>23 ofertas</p>
        </div>
      </a>
      </div>
    </section>

    <section class="best-oportunities">
      <h2 class="session-title">Melhores Oportunidades</h2>
      <div id="line1" class="best-oportunities-options">
        
      </div>
      <div id="line2" class="best-oportunities-options">
        
      </div>
    </section>

    <footer id="contact" class="footer">
      <div class="contact">
        <div>
          <h4>Contato</h4>
        </div>
        <div>
          <p>natan.o.s.pb@compasso.com.br</p>
          <br>
          <p>(99) 99999-9999</p>
        </div>
        <div class="social-media-icons">
          <a href="https://www.facebook.com/compass.uol" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
          <a href="https://www.instagram.com/compass.uol/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
          <a href="https://www.youtube.com/@Compassuol" target="_blank"><i class="fa-brands fa-youtube fa-lg"></i></a>
          <a href="https://x.com/compassuol" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a>
        </div>
      </div>
      <div class="frase">
        <p>
          Feito com &#10084; por Natan Oliveira da Silva - Todos os Direitos Reservados
        </p>
      </div>
      <div class="up">
        <a href="#header"
          ><div><img src="../assets/icons/vector.svg" alt="&#8593;" /></div
        ></a>
      </div>
    </footer>

    <!-- MODAL -->
    <div id="modal" class="modal">
      <div class="modal-conteudo">
        <span class="fechar" id="fecharModal">&times;</span>

        <div class="modal-image">
          <img id="modal-image"
            src=""
            alt="Erro ao carregar a imagem do imóvel"
          />
        </div>
        <div class="modal-price">
          <p id="modal-price"></p>
        </div>
        <div class="modal-infos-and-buttons">
          <p id="modal-bedrooms" class="bedroom-modal-infos"></p>
          <p id="modal-bathrooms" class="bathroom-modal-infos"></p>
          <p id="modal-size" class="area-modal-info"></p>
          <a class="modal-buy-button" href="notFound.html">Comprar</a>
        </div>
      </div>
    </div>
    <script src="../scripts/home.js"></script>
  </body>
</html>
