<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />
  </head>
  <body>
    <header id="header" class="header">
      <div>
        <img class="header-image" src="../assets/icons/logo.svg" />
        <h2 class="company-name">Agência Batatinha</h2>
      </div>
      <div>
        <a href="#">Contato</a>
        <a href="#">Sair</a>
      </div>
    </header>
    <section class="banner">
      <div class="banner-text">
        <h1>Encontre as melhores casas, pontos comerciais e hotéis</h1>
      </div>
    </section>

    <section class="our-services">
      <h2 class="session-title">Nossos Serviços</h2>
      <div class="our-services-options">
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-residenciais.png"
            alt="Residenciais"
          />
          <h3>Residenciais</h3>
          <p>123 ofertas</p>
        </div>
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-comerciais.png"
            alt="Comerciais"
          />
          <h3>Comerciais</h3>
          <p>93 ofertas</p>
        </div>
        <div class="our-services-option">
          <img
            src="../assets/img/home-page/our-services/our-services-hoteis.png"
            alt="Hotéis"
          />
          <h3>Hotéis</h3>
          <p>23 ofertas</p>
        </div>
      </div>
    </section>

    <section class="best-oportunities">
      <h2 class="session-title">Melhores Oportunidades</h2>
      <div class="best-oportunities-options" style="background-color: yellow">
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option1.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <div class="bedrooms-and-bathrooms">
            <p>5 quartos</p>
            <p>4 banheiros</p>
          </div>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option2.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option3.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option4.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
      </div>
      <div class="best-oportunities-options" style="background-color: pink">
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option5.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option6.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option7.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
        <div class="best-oportunities-option">
          <img
            src="../assets/img/home-page/best-oportunities/option8.png"
            alt=""
          />
          <p>R$ 2.000.000</p>
          <p>132 m²</p>
          <p>5 quartos</p>
          <p>4 banheiros</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="contact">
        <h4>Contato</h4>
        <p>agencia_batatinha@contato</p>
        <p>(99) 99999-9999</p>
        <div>
          <i class="fa-brands fa-facebook fa-lg"></i>
          <i class="fa-brands fa-instagram fa-lg"></i>
          <i class="fa-brands fa-youtube fa-lg"></i>
          <i class="fa-brands fa-twitter fa-lg"></i>
        </div>
      </div>
      <div class="frase">
        <p>
          Feito com &#10084; por Fulando de tal - Todos os Direitos Reservados
        </p>
      </div>
      <div class="up">
        <a href="#header">^</a>
      </div>
    </footer>

    <!-- MODAL -->
    <div id="modal" class="modal">
      <div class="modal-conteudo">
        
          <span class="fechar" id="fecharModal">&times;</span>
        
        <div class="modal-image">
          <img
          src="../assets/img/home-page/best-oportunities/option6.png"
          alt="Erro ao carregar a imagem do imóvel"
        />
        </div>
        <div class="modal-price">
          <p>R$ 2.200.00</p>
        </div>
        <div class="modal-infos-and-buttons">
          <p>5 quartos</p>
          <p>5 banheiros</p>
          <p>232 m²</p>
          <a href="#">Comprar</a>
        </div>
      </div>
    </div>
  </body>
</html>
