<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro 404</title>
    <link rel="stylesheet" href="../styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../styles/notFound.css" type="text/css" />

  </head>
  <body>
    <header class="header">
      <img class="header-image" src="../assets/icons/logo.svg" />
      <h2 class="company-name">Agência Batatinha</h2>
    </header>
    <div class="left-container columns">
      <div class="left-container-content">
        <div></div>
        <div class="left-container-main-info">
          <h2 class="info-orange-text">Oops...</h2>
          <h1 class="info-main-title">Página<br>em construção</h1>
          <p class="info-small-paragraph">Estamos trabalhando, em breve retorne aqui.</p>
          <a href="home.html"><button class="btn">Voltar</button></a>
        </div>
        <div class="left-container-links">
          <a href="https://www.facebook.com/compass.uol" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
          <a href="https://www.instagram.com/compass.uol/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
          <a href="https://www.youtube.com/@Compassuol" target="_blank"><i class="fa-brands fa-youtube fa-lg"></i></a>
          <a href="https://x.com/compassuol" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="line columns">
      <div class="section vertical-line"></div>
    </div>
    <div class="right-container columns">
      <img src="../assets/img/notFound/not-found.png" alt="Recurso não encontrado">
    </div>
    <script src="../scripts/notFound.js"></script>
  </body>
</html