@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* COLORS */
  --primary: #fe8100;
  --primary-hover: #dd6e00;
  --secondary: #1e1e1e;
  --white-100: #ffffff;
  --white-200: #fbfbfb;
  --white-300: #f2f2f4;
  --white-400: #e9ecf2;
  --white-500: #d8d8d8;
  --gray: #848383;
  --black-300: #3c3c3c;
  --black-400: #343434;
  --black-500: #2e2e2e;
  --black-1000: #000000;
  --red: #e70000;
  --green: #00e749;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-100);
  display: grid;
  grid-template-areas:
    "header header header"
    "form line image";
}
.line {
  grid-area: line;
  width: 0px;
}

.vertical-line {
  border: 0.1vh solid var(--white-500);
}

.header {
  grid-area: header;
  background-color: var(--secondary);
  height: 9.75vh;
  display: flex;
  align-items: center;
}
.header-image {
  margin-left: 15%;
  margin-right: 1%;
  height: 43%;
}
.columns {
  height: 90.25vh;
}
.form-container {
  grid-area: form;
  width: 49vw;
}
.image-container {
  grid-area: image;
  width: 51vw;
}
.section {
  width: 70%;
  height: 88.5%;
  margin-top: 6.3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.56vw;
}
.shaded-sections {
  box-shadow: 0px 2vh 3.5vh 0px #00000040;
}
.form-content {
  padding: 14% 12% 15.4% 12%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img-filled {
  background-image: url("../assets/img/login-and-createAccount/initial-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-text {
  padding-top: 12%;
  margin-left: 5%;
  color: var(--white-400);
  font-size: 4vh;
  font-weight: 400;
}
.final-text {
  color: var(--black-1000);
  font-size: 2vh;
  font-weight: 400;
  text-align: center;
}
.button-and-inputs {
  width: 100%;
  border-radius: 50em;
  padding: 1em;
  font-size: 2.2vh;
  font-weight: 500;
  margin-top: 1.3em;
  margin-left: 1.3em;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
  color: var(--primary);
}
.link:hover{
  color: var(--primary-hover);
}
.btn {
  color: var(--white-100);
  background-color: var(--primary);
  border: none;
  border-top: 0;
}
.btn:hover{
  background-color: var(--primary-hover);
}

.horizontal-rule {
  border: none;
  height: 0.2vh;
  background-color: var(--white-500);
}
.company-name {
  color: var(--white-100);
  font-size: 2.2vh;
  font-weight: 700;
}
.form-message {
  color: var(--red);
  font-size: 1.65vh;
  font-weight: 500;
  margin-top: 1.3em;
}
.inputs {
  background-color: var(--white-300);
  border: none;
  color: var(--gray);
}
.form-title {
  font-size: 3.5vh;
  font-weight: 700;
  color: var(--black-400);
}
.btn:active{
  background-color: transparent;
  color:var(--primary-hover);
  border:0.4vh solid var(--primary-hover);
}
.form{
  background-color: var(--white-200);
}
