@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* COLORS */
  --primary: #fe8100;
  --primary-hover: #dd6e00;
  --secondary: #1e1e1e;
  --white-100: #ffffff;
  --white-100-hover: #c7c7c7;
  --white-200: #fbfbfb;
  --white-300: #f2f2f4;
  --white-400: #e9ecf2;
  --white-500: #d8d8d8;
  --gray: #848383;
  --black-300: #3c3c3c;
  --black-400: #343434;
  --black-500: #2e2e2e;
  --black-1000: #000000;
  --red: #e70000;
  --green: #00e749;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-100);
  display: grid;
  grid-template-areas:
    "header"
    "banner"
    "our-services"
    "best-oportunities"
    "footer";
}







.header {
  color: var(--white-100);
  grid-area: header;
  background-color: var(--secondary);
  height: 9.75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.left-header-div{
  display: flex;
  height: 100%;
  align-items: center;
  width:40%;
  margin-left: 15%;
  font-weight: 700;
  font-size:24px;
}
.header-image {
  margin-right: 1vw;
  height: 43%;
}

.right-header-div{
  margin-right: 15%;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.right-header-div a{
  text-decoration: none;
  color: var(--white-100);
  font-size: 20px;
  font-weight: 500;
}
#exit-button{
  background-color: var(--primary);
  padding: 0.5em 3em 0.5em 3em;
  border-radius: 5px;
  margin-left: 4vw;
}





.banner {
  background: url("../assets/img/home-page/banner/banner.jpg") no-repeat center;
  background-size: cover;
  height: 90.25vh;
}
.banner-text {
  margin-left: 12.7vw;
  margin-top: 9.8vh;
  color: var(--black-300);
  font-weight: 600;
  font-size: 50px;
}

.our-services {
  background-color: var(--white-100);
  height: 43vh;
  padding: 7vh 12.6vw 0vh 12.6vw;
}
.our-services-options {
  display: flex;
  justify-content: space-between;
}
.our-services-options img {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  object-fit: cover;
}
.our-services-options h3,
.our-services-options p {
  text-align: center;
}
.our-services-options h3{
  color: var(--black-400);
  font-size: 24px;
  font-weight: 400;
}
.our-services-options p{
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
}
.best-oportunities {
  padding: 4vh 12.6vw 14.2vh 12.6vw;
  width: 100vw;
}
.best-oportunities-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.best-oportunities-option {
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.best-oportunities-options img {
  display: flex;
  width: 185px;
  height: 124px;
  object-fit: cover;
  border-radius: 12px;
}
.bedrooms-and-bathrooms {
  display: flex;
}

.footer {
  grid-area: footer;
  background-color: var(--secondary);
  height: 24.8vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0vh 12.6vw 4.5vh 12.6vw;
}

.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Caixa branca do modal */
.modal-conteudo {
  background-color: var(--white-100);
  padding: 20px 30px;
  border-radius: 16px;
  max-width: 63vw;
  width: 100%;
  max-height: 51vw;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Botão de fechar */
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color:var(--gray);
  
}
.modal-image {
  height: 71.7%;
  max-width: 100%;
}
.modal-image img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.modal-price {
  text-align: right;
  font-size:40px;
  color:var(--secondary);
  font-weight: 700;
}
.fechar {
  display: block;
}
.modal-infos-and-buttons {
  display: flex;
  justify-content: space-between;
}
.bedroom-modal-infos, .bathroom-modal-infos{
  padding: 1em 2em;
  color: var(--black-1000);
  background-color: var(--white-400);
}
.area-modal-info{
  color: var(--gray);
}
.modal-buy-button{
  padding: 1em 2em;
  color: var(--white-100);
  background-color: var(--primary);
  text-decoration: none;
  border-radius: 0.5em;
}
.modal-buy-button:hover{
  background-color: var(--primary-hover);
}
#exit-button:hover{
  background-color: var(--primary-hover);
}
#exit-button:active{
  background-color: transparent;
  color:var(--primary-hover);
  border:2px solid var(--primary-hover);
}
.modal-buy-button:active{
  background-color: transparent;
  color:var(--primary-hover);
  border:2px solid var(--primary-hover);
}
.session-title{
  margin-bottom: 1em;
  color: var(--black-400);
  font-size: 36px;
  font-weight: 400;
}
.option-price{
  font-weight: 600;
  font-size: 18px;
  color: var(--black-400);
}
.option-area{
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
}
.bedrooms-and-bathrooms p{
  padding: 0.3em 0.6em;
  background-color: var(--primary);
  border-radius: 6px;
  color: var(--white-100);
  font-weight: 400;
  font-size: 10px;
  margin-right:2em;
}
.contact h4{
  color: var(--primary);
  font-size: 18px;
}
.contact p{
  color:var(--white-400);
}
.contact i{
  color: var(--gray);
}
.up div{
  background-color: var(--white-400);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frase p{
  color: var(--white-400);
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16vh;
}
#contact-link:hover{
  color: var(--white-100-hover);
}
#contact-link:active{
  color: var(--gray);
}
.social-media-icons i{
  margin-right: 1em;
}
.social-media-icons a{
  text-decoration: none;
  color: var(--gray);
}