@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* COLORS */
  --primary: #fe8100;
  --secondary: #1e1e1e;
  --white-100: #ffffff;
  --white-200: #fbfbfb;
  --white-300: #f2f2f4;
  --white-400: #e9ecf2;
  --white-500: #d8d8d8;
  --gray: #848383;
  --black-300: #3c3c3c;
  --black-400: #343434;
  --black-500: #2e2e2e;
  --black-1000: #000000;
  --red: #e70000;
  --green: #00e749;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-100);
  display: grid;
  grid-template-areas:
    "header"
    "banner"
    "our-services"
    "best-oportunities"
    "footer";
}
.header {
  grid-area: header;
  background-color: var(--secondary);
  height: 9.75vh;
  display: flex;
  align-items: center;
}
.header-image {
  margin-left: 15%;
  margin-right: 1%;
  height: 43%;
}
.banner{
  background: url("../assets/img/home-page/banner/banner.jpg") no-repeat center;
  background-size:cover;
  height:90.25vh;
}
.banner-text{
  margin-left:12.7vw;
  margin-top:9.8vh;
}





.our-services{
  background-color: var(--white-100);
  height: 43vh;
  padding: 7vh 12.6vw 0vh 12.6vw;
  background-color:red;
}
.our-services-options{
  display: flex;
  justify-content: space-between;
}
.our-services-options img{
  height: 125px;
  width:125px;
  border-radius: 100%;
  object-fit:cover;
}
.our-services-options h3,p{
  text-align: center;
}






.best-oportunities-options{
  display: flex;
  overflow: hidden;     /* corta tudo que passar */
  /* white-space: nowrap;  /* impede quebra de linha */
  text-overflow: ellipsis;
  width:100%;
}
.best-oportunities-options img{
  display: flex;
  width:292px;
  height:197px;
  object-fit:cover;
  border-radius: 12px;
}
.best-oportunities{
  padding: 7vh 12.6vw 14.2vh 12.6vw;
  width: 100vw;
}
