@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* COLORS */
  --primary: #fe8100;
  --primary-hover: #dd6e00;
  --secondary: #1e1e1e;
  --white-100: #ffffff;
  --white-200: #fbfbfb;
  --white-300: #f2f2f4;
  --white-400: #e9ecf2;
  --white-500: #d8d8d8;
  --gray: #848383;
  --black-300: #3c3c3c;
  --black-400: #343434;
  --black-500: #2e2e2e;
  --black-1000: #000000;
  --red: #e70000;
  --green: #00e749;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-100);
  display: grid;
  grid-template-areas:
    "header header header"
    "info line image";
}
.line {
  grid-area: line;
  width: 0px;
}
.vertical-line {
  border: 0.1vh solid var(--white-500);
}
.header {
  grid-area: header;
  background-color: var(--secondary);
  height: 9.75vh;
  display: flex;
  align-items: center;
}
.header-image {
  margin-left: 15%;
  margin-right: 1%;
  height: 43%;
}
.columns {
  height: 90.25vh;
}
.left-container {
  grid-area: info;
  width: 49vw;
  display: flex;
  justify-content: center;
}
.right-container {
  grid-area: image;
  width: 51vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container img {
  width: 70%;
}
.section {
  width: 70%;
  height: 88.5%;
  margin-top: 6.3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.56vw;
}
.btn {
  color: var(--white-100);
  background-color: var(--primary);
  border: none;
  border-top: 0;

  width: 100%;
  border-radius: 50em;
  padding: 0.75em;
  font-size: 3vh;
  font-weight: 500;

  margin-top: 1.3em;
  margin-left: auto;
  margin-right: auto;
}
.company-name {
  color: var(--white-100);
  font-size: 2.2vh;
  font-weight: 700;
}

.left-container-content {
  width: 62%; /* 58% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  line-height: 1.5;
  margin-bottom: 3.5vh;
}

.info-orange-text {
  color: var(--primary);
  font-size: 4vh;
  font-weight: 500;
}
.info-main-title {
  color: var(--black-500);
  font-size: 6.5vh;
  font-weight: 900;
}
.info-small-paragraph {
  color: var(--gray);
  font-size: 2vh;
  font-weight: 400;
  margin-top: 1.5em;
  margin-right: 1em;
}
.left-container-links{
    display: flex;
    gap:1em;
    font-size:1.65vh;
}
.left-container-links a{
  text-decoration: none;
  color: var(--black-400);
}
.btn:hover{
  background-color: var(--primary-hover);
}
.btn:active{
  background-color: transparent;
  color:var(--primary-hover);
  border:0.4vh solid var(--primary-hover);
}
/*
@media screen and (min-width:3500px){
  .company-name {
    font-size: 45px;
  }
  .info-orange-text{
    font-size: 70px;
  }
  .info-main-title{
    font-size: 135px;
  }
  .info-small-paragraph{
    font-size: 35px;
  }
  .btn{
    font-size: 65px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 40px;
  }
}
@media (min-width: 2500px) and (max-width: 3499px){
  .company-name {
    font-size: 35px;
  }
  .info-orange-text{
    font-size: 67px;
  }
  .info-main-title{
    font-size: 98px;
  }
  .info-small-paragraph{
    font-size: 35px;
  }
  .btn{
    font-size: 45px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 35px;
  }
}
@media (min-width: 2500px) and (max-width: 3499px) and (max-height:1500px){
  .company-name {
    font-size: 35px;
    color:#00e749;
  }
  .info-orange-text{
    font-size: 60px;
  }
  .info-main-title{
    font-size: 90px;
  }
  .info-small-paragraph{
    font-size: 30px;
  }
  .btn{
    font-size: 40px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 28px;
  }
}
@media (min-width: 2500px) and (max-width: 3499px) and (max-height:1300px){
  .company-name {
    font-size: 35px;
    color:pink;
  }
  .info-orange-text{
    font-size: 50px;
  }
  .info-main-title{
    font-size: 79px;
  }
  .info-small-paragraph{
    font-size: 25px;
  }
  .btn{
    font-size: 35px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 23px;
  }
}
@media (min-width: 2500px) and (max-width: 3499px) and (max-height:1100px){
  .company-name {
    font-size: 35px;
    color:greenyellow;
  }
  .info-orange-text{
    font-size: 50px;
  }
  .info-main-title{
    font-size: 79px;
  }
  .info-small-paragraph{
    font-size: 25px;
  }
  .btn{
    font-size: 35px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 23px;
  }
}
@media (min-width: 1801px) and (max-width: 2499px){
  .company-name {
    font-size: 40px;
    color:brown;
  }
  .info-orange-text{
    font-size: 45px;
  }
  .info-main-title{
    font-size: 70px;
  }
  .info-small-paragraph{
    font-size: 25px;
  }
  .btn{
    font-size: 35px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 23px;
  }
  
}
@media (min-width: 1800px) and (max-width: 2000px) and (min-height:1050px){
  .company-name {
    font-size: 25px;
    color:salmon;
  }
  .info-orange-text{
    font-size: 45px;
  }
  .info-main-title{
    font-size: 70px;
  }
  .info-small-paragraph{
    font-size: 20px;
  }
  .btn{
    font-size: 30px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 20px;
  }
}
@media (min-width: 1500px) and (max-width: 1799px){
}
@media (min-width: 1300px) and (max-width: 1499px){
  .company-name {
    font-size: 21px;
    color:salmon;
  }
  .info-orange-text{
    font-size: 35px;
  }
  .info-main-title{
    font-size: 55px;
  }
  .info-small-paragraph{
    font-size: 15px;
  }
  .btn{
    font-size: 20px;
    padding: 0.7em;
  }
  .left-container-links{
    font-size: 17px;
  }
}
  */